.logo-green {
    color: #236645;
}

.logo-purple {
    color: #861c5e;
}

a {
    color: #861c5e; 
}
.card {
    margin: 1rem;
    background: white;
    box-shadow: 2px 4px 25px rgba(0,0,0,.1);
    border-radius: 15px;
    border-color: #236645; 
    overflow: hidden;
    padding: 0.5rem;
}

#output {
    overflow: scroll;
}